body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#canvas {
  background-color: gray;
  border: 1px solid black;
}

#controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

#coordinate-style-container {
  display: block;
}