.customSwitch {
  position: relative;
  display: inline-block;
}

.customSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.customSwitchSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 32px;
  background-color: lightgrey;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.customSwitchSlider::before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: calc(10%);
  width: 16px;
  height: 16px;
  background-color: grey;
  border-radius: 50%;
  transition: transform 0.3s;
}

.customSwitchSlider:hover::before {
  transform: scale(1.5); /* Adjust scale as needed */
}

.customSwitch input:checked + .customSwitchSlider {
  background-color: purple;
}

.customSwitch input:checked + .customSwitchSlider::before {
  transform: translateX(26px) scale(1.5);
  /* background-image: url("/checkmark.svg"); */
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  background-color: white;
}

.customSwitch:has(.right) input:checked + .customSwitchSlider::before {
  background-image: url("/checkmark.svg");
}
