:root {
  --item-color: black;
  --item-hover-bg-color: lightgray;
  --item-link-color: black;
  --badge-bg-color: lightgray;
  --badge-color: black;
  --item-compact-bg-color: white;
}

.sidenav-item {
  color: var(--item-color);
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  width: 300px;
  padding: 16px;
  font-family: "Roboto", sans-serif;
  margin: 2px;
  border-radius: 100px;
}

.sidenav-item.close.compact {
  padding: auto;
  width: 26px;
}

.sidenav-item:hover {
  background-color: var(--item-hover-bg-color);
}

.sidenav-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--item-link-color);
}

.sidenav-item-link.close.compact {
  justify-content: center;
}

.sidenav-item-icon {
  flex: 0 0 24px;
  margin-right: 32px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav-item-title {
  font-size: 16px;
  font-weight: 500;
}

.sidenav-item-title.close.compact {
  display: none;
}

.sidenav-item-badge {
  background-color: var(--badge-bg-color);
  /* border-radius: 50%; */
  color: var(--badge-color);
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  top: 16px;
  right: 16px;
  flex-shrink: 0;
}

.sidenav-item-badge.close.compact {
  display: none;
}

.sidenav-item-children {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 0;
  list-style-type: none;
  transform: translate(10px);
}

.sidenav-item-cage .sidenav-item-children > * {
  display: none;
}

.sidenav-item-cage:hover .sidenav-item-children > * {
  /* display: flex; */
  display: flex;
}
